.main-view {
  display: flex;
  flex-direction: column;
}

.center {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  flex: 1;
  min-width: 200px;
  background-color: #8ae234;
}

.content {
  flex: 4;
  min-width: 500px;
  background-color: coral;
}